*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  // Size of white space (background)
  .connectboxcontainer{
    min-height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
    background-color: white ;
  }
  
  //Sizing for boxes
  .connectbox{
    width: 50%;
    height: auto;
    max-width: 300px;
    margin: 0px 50px 0 50px;
    
    
  }
  .connectbox ul {
    list-style: none;
  }
  .connectbox ul li{
    padding: 20px;
    border: 3px solid #be95ff;
    color: black;
    height: 600px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .tap {
    margin-left: 30px;
  }
  .connectbox-content h1{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .connectbox-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: -75px;
  }
  .connectbox:hover {
    background-position: 100% 100%;
    animation: up-bump 0.4s ease;
  }
  .connectbox:hover h2 {
    color: #be95ff;
  }
  //.box:hover h2 span {
    //color: red;
  //}
  .connectbox:hover p {
    color: black;
  }
  .connectbox ul li:hover {
    transform: scale(1.2);
    padding: 20px;
    border: 3px solid #be95ff;
    color: #be95ff;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 3px solid #B8B5B2;
  }
  .connectbox img {
    display: block;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 100%;
    height: 100%;
  }