//BELOW IS FORMATTING FOR COLUMN TITLES


.testcontainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -30px;
}
//Spacing for titles
.columnbox{
  width: auto;
  height: 125px;
}
//Text formatting
.columnbox-content h2{
  color: black;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  width: 300px;
  margin-left: 50px;
}

  //FOLLOWING IS ALL FOR INDUSTRY SPECIFIC SECTION FORMATTING
  .specincontainer{
    min-height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    margin-top: -40px;
    clear: both;
    background-color: white ;
  }

  .pdf {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  //Spacing for boxes
  .specinbox{
    width: auto;
    height: auto;
  }
  
  //Text within box
  .specinbox ul {
    list-style: none;
  }
  //Text within box & border & spacing of whole boxes
  .specinbox ul li{
    text-align: left;
    padding: 20px;
    border: 3px solid #be95ff;
    color: black;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    margin-left: 50px;
  }
  //Formatting for info inside blog boxes
  .specin-content h1{
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
  }
  .specin-content h2{
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: #B8B5B2;
  }
  .specin-content h3{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  }
  .specin-content:hover {
    background-position: 100% 100%;
    animation: up-bump 0.4s ease;
    cursor: pointer;
  }
  .specin-content ul li:hover {
    transform: scale(1.2);
    cursor: pointer;
    padding: 20px;
    border: 3px solid #be95ff;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 3px solid #B8B5B2;
  }