// Bootstrap components
.display-4 {
  line-height: 0.98;
  

  @include media-breakpoint-down(md) {
    font-size: 2.25rem;
  }
}

.row-container {
    display: flex;
    flex-direction: column;
    
  

    @include media-breakpoint-down(sm) {
        align-items: center;
    }

    @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-around;
    }

    .image-container:hover {
        box-shadow: 0 0 20px rgba(33,33,33,.2);
  
    }

    //images for the home page
    .image-container-home {
      width: 200px;

      @include media-breakpoint-down(sm) {
        &:not(:last-child) {
            margin-bottom: 5rem;
        }
        
      }
      
      .image {
        width: 200px;
        height: 150px;
        background-repeat: no-repeat;
        background-color: #be95ff;
        background-position: center center;
        //navigation bar photos
        &.monitor {
            background-image: url('/images/Picture1.png');
        }
        &.learn {
          background-image: url('/images/Picture2.png');
        }
        &.improve {
          background-image: url('/images/Picture3.png');
        }
        &.learn2 {
        background-image: url('/images/Picture4.png');
        }
      }  

      .title {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
       
      }

      .text {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }

    }

    .image-container {
        width: 200px;
    

        @include media-breakpoint-down(sm) {
            &:not(:last-child) {
                margin-bottom: 5rem;
            }
        }

        .image {
            width: 200px;
            height: 150px;
            background-repeat: no-repeat;
            //background-color: rgb(118, 64, 187);
            background-position: center center;
            //navigation bar photos
            &.transportation {
                background-image: url('/images/learn_transportation.svg');
            }

            &.household {
                background-image: url('/images/learn_household.svg');
            }

            &.shopping {
                background-image: url('/images/learn_shopping.svg');
            }

            &.food {
                background-image: url('/images/learn_food.svg');
            }

            &.clothing {
                background-image: url('/images/learn_clothing.svg')
            }
        }

        .title {
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
           
        }

        .text {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
    }
}

// Custom Components
.home-row {
  margin-bottom: 5rem;
  
}

.hero-img-right {
  @include media-breakpoint-down(lg) {
    margin-bottom: 3rem;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 80px;
  }
}

.hero-img-left {
  @include media-breakpoint-down(lg) {
    margin-bottom: 3rem;
  }

  @include media-breakpoint-up(lg) {
    padding-right: 80px;
  }
}

.navbar-collapse {
  text-align: center;
}

.footer {
  background-color: #f2f2f2;
  width: 100%;
  color: theme-color('primary');
  p {
    margin-bottom: 0;
    margin-top: 10px;
  }
}



.footer__logo {
  width: 150px;
}

.accordion {
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 3rem;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

// End of Survey Page

.table th,
.table td {
  padding: 0.5rem;
}