.hero-row-reverse-mobile {
  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
  }
}

.hr {
  display: block;
  height: 2px;
  width: 100%;
  border-top: 2px solid #0043ce;
  margin: 0em 0;
  content: " ";
  padding: 0;
}

.hr-purple {
  display: block;
  height: 2px;
  width: 100%;
  border-top: 2px solid #be95ff;
  margin: 0em 0;
  content: " ";
  padding: 0;
}
.darkgreen-bg {
  background-color: #3d9e67;
  background-size: 400% 400%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
